@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}

.theme-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #111517;
}

.theme-btn::before {
  content: "";
  background-image: url("../images/dark-mode.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 8px;
}

.site-input {
  width: 480px;
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.0532439);
}

.input-class {
  background-color: transparent;
  padding: 18px 32px;
  outline: none;
  width: 100%;
  padding-left: 0;
}

.search-icon {
  padding: 19px;
  padding-left: 32px;
  padding-right: 24px;
  cursor: pointer;
}

.user-select-region {
  border: 1px solid rgba(0, 0, 0, 0.0532439);
  padding: 18px 24px;
  background: #FFFFFF;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  list-style: none;
}

@media only screen and (min-width: 320px) and (max-width: 750px) {

  .site-input {
    width: 100%;
    height: 56px;
    background: #FFFFFF;
  }

  .site-inputs {
    display: flex;
    flex-direction: column;
  }

  .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__logo {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
  }

  .theme-btn {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
  }

  .select {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

}

.theme-dark input::placeholder {
  color: #fff;
}

.item-1 {
  margin-top: 48px;
  margin-bottom: 62px;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
}

select {
  width: 200px;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 18px 24px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}

.country-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.country-item {
  width: 264px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
}

.country-item:nth-child(4) {
  margin-right: 0;
}

.item-txt {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  padding: 24px 24px;
}

@media only screen and (max-width: 568px) {
  .country-list {
    justify-content: center;
  }
}